@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root  {
    --primary-color: #3edeeb;
    
     }
     body{
      width: 450px;
      color: blue
     }
     .info {
      position: relative;
      text-align: center;
      top: 5px;
     }
  h {
   position: absolute;
   font-size:x-large;
   top: 50px;
   left: 25%;
   right: 0%;
   color: blue;
   padding-top: 14px;
   padding-left: 20px;
   padding-bottom: 5px;
   padding-right: 20px;
 }
 