* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
background-color: steelblue;
padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
.box {
    margin: 1rem;
    border: solid rgba( green, blue,black);
    padding: 1rem;
    background-color: beige;
    color: #000
}
aside {
    width: 20em;
    text-align: center;
}
main img {
   /*Hello My name is Nestor Ferrari. I am from Argentina and I live in Buenos Aires the capital of my ccountry.I enjoy teaching Spanish my native language.I also enjoy learning English and programming.I love my family and to be a member of the church */
    float: right;
}
aside h2 {
    mask-position: 0dvh;
    top: 47px;
    left: 150px;
}