* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
background-color: steelblue;
padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
img {
    width: 250px;
    height: 220px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
    text-align: left;
    width: 400px;
    margin: auto;
}
main img {
    float:right;
}

aside h2 {
    position:relative
    top: 47px;
    left: 150px;
}

.box {
    margin: 1em;
    border: 1px solid rgba(red, green, blue, alpha);
    padding: 1rem;
    color: skyblue;
}

aside {
    width: 20em;
    text-align: center;
  }
h1 {
    text-align: center;
}
